extends layout

block content
  h1 Hello World
  button.btn.btn-success.unlock Unlock
  button.btn.btn-danger.lock Lock
  br
  button.btn.btn-success.off Lights Off
  button.btn.btn-danger.on Lights On
  
  
  :coffeescript
    @a = @a || {}

