extends layout

block content
  h1 Wiley Cousins
  .row
    .span6
      .span2
        button.btn.btn-success.unlock Unlock
      .span2
        button.btn.btn-danger.lock Lock
  .row
    br
    hr
    br
  .row
    .span6
      .span2
        button.btn.on Lights On
      .span2
        button.btn.btn-inverse.off Lights Off
  .row
    br
    hr
    br
  .row
    .span6
      .span2
        button.btn.btn-info.far Far lights
      .span2
        button.btn.btn-warning.near Near lights
  .row
    br
    hr
    br
  .row
    .span6
      .span2
        button.btn.btn-info.left cam left
      .span2
        button.btn.btn-warning.right cam right
  .row
      img#live(src='/img/foobar.jpeg')

