extends layout

block content
  h1 Hello World
  .row
    .span4
      button.btn.btn-success.unlock Unlock
      button.btn.btn-danger.lock Lock
  .row
    br
  .row
    .span4
      button.btn.btn-primary.on Lights On
      button.btn.btn-warning.off Lights Off
  .row
    .span4
      button.btn.btn-primary.on Far lights
      button.btn.btn-warning.off Near lights
