!!! 5
html
  head
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.1, user-scalable=0;', name='viewport')
    title Studio Brain
    link(rel='icon', type='image/x-icon', href='https://dl.dropboxusercontent.com/u/15097/brain.png')
    link(rel="stylesheet",href="/css/client.css",type="text/css")
  body
    #main.container
      .row
        block content
    != js('client')
